body{
    background-color: var(--body);
    color: white;
}
:root{
    --body : #4d759c;
    --nav-bar: #344e6a;
    --secondary: #2980B9;
    --gold: #FFD700;
    --teal: #5febcf ;
}

/*.......................................... nav bar start ................................... */
#nav{
    background-color: var(--nav-bar);
}
#logo-img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
}
#cinema-label{
    color: var(--gold);
    font-family: fantasy;
}
/* #login-btn{
    border: 1px solid var(--secondary);
} */
.nav-link.active{
    color: var(--gold) !important;
}
#nav-order > li > a{
    color: white;
    padding: 8px 30px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}
#nav-order > li > a:hover,
.nav-item a i:hover,
#login-btn:hover{
    color: var(--gold) !important;
}
.navbar-toggler{
    border: none;
    color: white;
    box-shadow: none;
    outline: 0;
}
.navbar-toggler:focus{
    box-shadow: none;
}
@media screen and (max-width: 768px){
    #nav-icon{
        display: flex;
    }
    .navbar-nav li{
        padding: 8px 0;
    }
    #nav-icon{
        border-top: 1px solid rgb(242, 240, 240);
        padding-left: 20px;
        padding-top: 15px;
        margin: 10px 0;
    }
}
/*.......................................... nav bar end ................................... */

/*.......................................... home section start ................................... */
#home-poster{
    background-image: url(image/pexels-photo-7991486.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: var(--white);
}
#home-poster-content,
#home-poster-content2{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-poster-content > div > h1{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 50pt;
    word-spacing: 2pt;
    width: 70% !important;
    font-weight: bold;
}
#home-poster-content2 > div > h1{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 50pt;
    word-spacing: 2pt;
    width: 100%;
    font-weight: bold;
}
#home-poster-content > div > h1 > span,
#home-poster-content2 > div > h1 > span{
    color: var(--gold);
}
#home-poster-content > div > p,
#home-poster-content2 > div > p{
    width: 80% !important;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 16pt;
}

#search-ticket{
    margin-top: -70px;
    background-color:  var(--nav-bar);
    padding: 30px 30px;
    border-radius: 10px;
}
#search-ticket .col-lg-7 > label{
    color: var(--teal);
}
#search-ticket p{
    background-color: var(--secondary);
    color: white;
    padding: 15px 28px;
    font-size: 13pt;
    border-radius: 50px;
}

#home-search{
    background-color: var(--body);
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.group{
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 100%;
}
.input{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    border: 0;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    color: white;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
    border: 1px solid white;
}
.input::placeholder{
    color: #ececec;
}
.search-icon{
    position: absolute;
    left: 1rem;
    fill: #ececec;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}
@media screen and (min-width: 576px) and (max-width: 992px){
    #search-ticket{
        width: 90%;
    }
}
@media screen and (max-width: 992px){
    #home-search > .col-lg-3{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 768px){
    #cinema-form .col-sm-6{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 576px){
    #home-poster-content > div > h1,
    #home-poster-content2 > div > h1{
        width: 100%;
        font-size: 30pt;
    }
    #search-ticket{
        margin-top: -20px;
    }
    #search-ticket p{
        display: none !important;
    }
    #cinema-form .col-sm-1{
        text-align: right;
    }
}

.custom-select{
    position: relative;
    width: 100%;
    font-size: 1.14rem;
    color: white;
}
.select-button{
    width: 100%;
    font-size: 1.14rem;
    background-color: var(--body);
    padding: 8px 10px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selected-value,
.sorting-selected-value{
    text-align: left;
}
.selected-value > i{
    color: var(--teal);
    margin-right: 8px;
}
.arrow{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid white;
    transition: transform ease-in-out 0.3s;
}
.select-dropdown{
    position: absolute;
    list-style: none;
    width: 100%;
    background-color: var(--body);
    border: 1px solid #dadde0;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    max-height: 170px;
    overflow-y: auto;
    transition: 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}
.select-dropdown li,
.sorting-dropdown li{
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 12pt;
}
.select-dropdown li label,
.sorting-dropdown li label{
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.select-dropdown::-webkit-scrollbar{
    width: 5px;
}
.select-dropdown::-webkit-scrollbar-track{
    background: #f1f1f1;
    border-radius: 25px;
}
.select-dropdown::-webkit-scrollbar-thumb{
    background: var(--nav-bar);
    border-radius: 25px;
}
.select-dropdown li:hover{
    color: var(--teal);
}
.select-dropdown input:checked ~ label,
.select-dropdown input:focus ~ label{
    background-color: #ffffff30;
    color: white;
}
.select-dropdown input[type="radio"],
.sorting-dropdown input[type="radio"]{
    position: absolute;
    left: 0;
    opacity: 0;
}
.custom-select.active .arrow,
.sorting-content.active .arrow{
    transform: rotate(180deg);
}
.custom-select.active .select-dropdown,
.sorting-content.active .sorting-dropdown{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.search-btn{
    background-color: var(--nav-bar);
    color: var(--teal);
}
.search-btn:hover{
    background-color: var(--nav-bar);
    color: var(--teal);
    border: 1px solid white;
}
/*.......................................... home section end ................................... */


/*.......................................... now showing movie start ................................... */
#now-showing-movie,
#feature-trailer,
#promotion,
#cinema-details{
    margin: 90px auto;
}
#span-block{
    display: flex; 
    align-items: center;
}
#span-block > span{
    display: inline-block;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: var(--teal);
    width: 20px;
    height: 3px;
    border-radius: 20px;
    margin-right: 10px;
}
#view-more > button{
    color: var(--teal);
}
#view-more > button:hover{
    color: white;
}
#now-movie-list > .col-lg-4 > div,
#movie-cell-show > .col-lg-6 > div{
    background-color: var(--nav-bar) ;
    padding: 20px 20px 12px;
    border-radius: 10px;
    border: 1px solid white;
}
#now-movie-list a,
#movie-cell-show a{
    color: white;
    text-decoration: none;
}
.zoom-img{
    width: 100%;
    height:auto;
    overflow: hidden;
    border-radius: 10px;
}
.zoom-img img{
    width: 100%;
    height: 190px; 
    object-fit: cover;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.zoom-img img:hover{
    transform: scale(1.1);
}
#now-movie-list a h5,
#movie-cell-show a h5{
    margin-top: 10px;
    text-align: center;
}
#now-movie-list a:hover,
#movie-cell-show a:hover,
#ticket-btn span i{
    color: var(--teal);
}
#ticket-btn{
    background-color: transparent;
    border: 1px solid var(--secondary);
    color: white;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.524);
}
#ticket-btn label{
    cursor: pointer;
}
#ticket-btn:hover{
    color: var(--teal);
}
@media screen and (min-width: 576px) and (max-width: 768px){
    #now-movie-list a h5{
        font-size: 12pt;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px){
    .zoom-img img{
        height: 220px !important; 
    }
}
@media screen and (max-width: 576px){
    .zoom-img img{
        height: fit-content; 
    }
}
/*.......................................... now showing movie end ................................... */


/*.......................................... feature trailer start ................................... */
.swiper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    width: 100%;
    padding: 0 20px 40px;
    z-index: 0;
}
.swiper-btns{
    position: absolute;
    display: flex;
    margin-top: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
}
.swiper-btns button{
    position: static;
    background-color: var(--nav-bar);
    color: var(--teal);
    border: 1px solid white;
    width: 42px;
    height: 42px;
    margin-top: 40px;
    border-radius: 50%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.swiper-btns button:hover{
    background-color: var(--secondary);
    color: white;
}
#feature-trailer .swiper-slide{
    background-color: var(--nav-bar);
    padding: 20px 20px 0;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
}
iframe{
    width: 100%;
    height: 300px;
}
#trailer-content{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
#trailer-content span{
    display: block;
    width: fit-content;
    text-align: left;
    background-color: transparent;
    border: 1px solid var(--gold);
    color: white;
    margin-right: 10px;
    padding: 4px 12px;
    text-transform: uppercase;
}
/*.......................................... feature trailer end ................................... */


/*.......................................... promotion start ................................... */
.mySwiper2 .swiper-slide img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border: 1px solid white;
}
.mySwiper2 .swiper-pagination-bullet-active{
    background-color: var(--teal);
    opacity: 1;
}
@media screen and (min-width: 562px) and (max-width: 720px){
    .mySwiper2 .swiper-slide img{
        height: 350px;
    }
}
@media screen and (max-width: 562px){
    .mySwiper2 .swiper-slide img{
        display: block;
        margin: auto;
        width: 90% !important;
        height: 420px;
    }
}
/*.......................................... promotion end ................................... */


/*.......................................... cinema details start ................................... */
.swiper-slide{
    user-select: auto;
}
.swiper-btn2s{
    position: relative;
    display: flex;
    width: fit-content;
    z-index: 1;
    text-align: right;
    justify-content: space-between;
}
.swiper-btn2s button{
    position: static;
    background-color: var(--nav-bar);
    color: var(--teal);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.swiper-btn2s button:hover{
    background-color: var(--nav-bar);
    color: var(--teal);
    border: 1px solid white;
}

#cinema-detail-content{
    background-color: var(--nav-bar);
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    height: 430px;
}
#cinema-detail-content img{
    height: 220px;
    object-fit: cover;
}
#cinema-detail-content h5{
    color: var(--teal);
    font-weight: bold;
    margin: 10px 0 20px;
}
@media screen and (max-width: 770px){
    #cinema-detail-content img{
        height: 260px;
        object-fit: cover;
    }
}
/*.......................................... cinema details end ................................... */


/*.......................................... footer section start ................................... */
#footer{
    background-color: #242f3b;
}
#footer h5,
#toggle-btn button{
    text-transform: uppercase;
    font-size: 15pt;
    color: white;
}
#footer h6{
    text-transform: uppercase;
    font-size: 10pt;
}
#footer p{
    color: rgb(230, 227, 227);
    line-height: 25px;
}
#footer-icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    font-size: 12pt;
    border: 1px solid var(--gold);
    margin-right: 12px;
}
#footer-icon a:hover{
    color: var(--gold);
}
#footer-simple ul,
#footer-dropdown ul{
    list-style: none;
    text-align: left;
    padding-left: 0;
}
#footer-simple ul li,
#footer-dropdown ul li{
    padding: 5px 0;
}
#footer-simple ul li a,
#footer-dropdown ul li a{
    text-decoration: none;
    color: rgb(230, 227, 227);
    font-size: 12pt;
}
#footer-simple ul li a i,
#footer-dropdown ul li a i{
    color: var(--gold);
}
#footer-simple ul li a:hover,
#footer-dropdown ul li a:hover{
    color: var(--gold);
}
#footer-dropdown{
    display: none;
}
#toggle-btn button{
    width: fit-content;
    text-align: left;
    margin-left: -14px;
    border: none;
}
#footer-dropdown div{
    display: flex;
    align-items: center;
    padding-right: 15px;
    border-radius: 4px;
}
#down{
    display: block;
    font-size: 10pt;
}
#up{
    display: none;
    font-size: 10pt;
}
#footer-bottom a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 768px){
    #footer-dropdown{
        display: block;
        margin-bottom: 25px;
    }
    #footer-simple{
        display: none;
    }
    #footer h5,
    #toggle-btn button{
        font-size: 13pt;
    }
    #developer{
        display: none;
    }
}
/*.......................................... footer section end ................................... */


/*.......................................... movie category start ................................... */
#movies-category{
    margin: 30px auto 70px;
}
#category-form{
    background-color: var(--nav-bar);
    border-radius: 10px;
    padding: 20px 23px;
}
#category-form h5{
    text-transform: uppercase;
}
#category-content{
    height: 380px;
    overflow-y: auto !important;
}
#category-content::-webkit-scrollbar,
.sorting-dropdown::-webkit-scrollbar{
    width: 3px;
}
#category-content::-webkit-scrollbar-track,
.sorting-dropdown::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 25px;
}
#category-content::-webkit-scrollbar-thumb,
.sorting-dropdown::-webkit-scrollbar-thumb{
    background: var(--gold);
    border-radius: 25px;
}
#category-content a{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    color: white;
    padding: 8px;
    text-decoration: none;
}
.category-link.active,
.sorting-dropdown input:checked ~ label,
.sorting-dropdown input:focus ~ label{
    background-color: #e8e4e41b !important;
    color: white !important;
}
#category-content a:hover{
    color: var(--gold);
}
#category-content label{
    margin-top: -10px;
}

#movie-label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#movie-label p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    color: white;
    padding: 10px 35px;
    font-size: 13pt;
    border-radius: 5px;
    width: fit-content;
    font-weight: bold;
    margin-bottom: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
}
#movie-list{
    background-color: var(--nav-bar);
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 20px;
}
#movie-sorting label{
    margin-right: 20px;
}

.sorting-content{
    position: relative;
    width: fit-content;
    color: white;
}
.sorting-select-btn .arrow{
    margin-left: 15px;
}
.sorting-select-btn{
    width: 100%;
    font-size: 1.12rem;
    background-color: transparent;
    padding: 8px 20px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.247);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sorting-dropdown{
    position: absolute;
    list-style: none;
    width: 100%;
    background-color: var(--nav-bar);
    box-shadow: rgba(0, 0, 0, 0.199) 0px -4px 10px;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    max-height: 140px;
    overflow-y: auto;
    transition: 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}
.sorting-dropdown li:hover{
    color: var(--gold);
}
#movie-cell-category{
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    margin-bottom: 0;
    margin-top: 6px;
}
#movie-cell-category li a{
    text-decoration: none;
    color: white;
    font-size: 15pt;
    padding: 0 15px ;
}
#movie-cell-category li a:hover,
#movie-cell-category li a::after,
#movie-cell-category li a.cell-active,
#movie-cell-category li a i:hover,
#movie-cell-category li a i::after{
    color: var(--teal);
}

#movie-list-content{
   margin: 20px auto;
}
#movie-list-show > div{
    background-color: var(--nav-bar);
    border-radius: 10px;
    padding: 30px 20px 30px 4px;
    border-left: 2px solid var(--teal);
    border-right: 2px solid var(--teal);
}
#movie-cell-show{
    display: none;
}
#movie-list-show a{
    text-decoration: none;
}
#movie-list-show a h4{
    color: white;
    margin-bottom: 10px;
}
#movie-list-show a h4:hover,
#movie-list-show span,
#circle-play i,
#circle-play:hover{
    color: var(--teal);
}
#circle-play{
    color: white
}

@media screen and (max-width: 460px){
    #movie-label{
        display: block;
    }
    #movie-label form{
        margin-top: 20px;
    }
}
@media screen and (max-width: 576px){
    #movie-sorting{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #movie-sorting .col-lg-8,
    #movie-sorting .col-lg-4{
        width: fit-content;
    }
    #movie-sorting .col-lg-8 .d-flex > label{
        display: none;
    }
    .sorting-select-btn{
        padding-left: 10px;
    }
    .sorting-select-btn .arrow{
        margin-left: 8px;
    }
    #movie-cell-category{
        padding: 0;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px){
    #movie-list-show img{
        display: block;
        width: 80% !important;
        margin: auto;
    }
}
@media screen and (max-width: 767px){
    #movie-list-show a h4{
        margin-top: 20px;
    }
    #movie-list-show > div{
        padding: 20px 10px;
    }
}
@media screen and (max-width: 992px){
    #category-form{
        margin-top: 30px;
    }
}
/*.......................................... movie category end ................................... */


/*.......................................... promotion list start ................................... */
#promotion-page{
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 0 40px;
}
#promotion-list > label{
    text-transform: uppercase;
    background-color: var(--secondary);
    color: white;
    padding: 10px 35px;
    font-size: 13pt;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
}
#promotion-list a{
    color: white;
    text-decoration: none;
}
#promotion-list a > img{
    width: 100%;
    height: 290px;
    object-fit: cover;
}
#promotion-list a > h5{
    background-color: var(--nav-bar);
    border: 1px solid white;
    padding: 10px 15px;
    font-size: 14pt;
    border-radius: 5px;
}
#promotion-list a:hover{
    color: var(--teal);
}
@media screen and (max-width: 576px){
    #promotion-list a > img{
        display: block;
        margin: auto;
        width: 360px !important;
        height: 400px;
        object-fit: cover;
    }
    #promotion-page{
        padding: 0 20px;
    }
}
@media screen and (max-width: 410px){
    #promotion-list a > img{
        width: 330px !important;
    }
}
/*.......................................... promotion list end ................................... */


/*.......................................... promotion details start ................................... */
#promotion-details{
    margin: 30px auto 90px;
}
#promotion-content{
    background-color: var(--nav-bar);
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px 10px;
}
#promotion-content > h4{
    margin-left: 20px;
}
#promotion-btn{
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--secondary);
    font-size: 13pt;
    color: white;
}
#promotion-btn:hover{
    color: var(--teal);
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.524);
}
@media screen and (max-width: 768px){
    #promotion-content img{
        display: block;
        width: 60% !important;
        margin: auto;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 440px){
    #promotion-content .col-lg-8{
        padding: 0 20px !important;
    }
}
/*.......................................... promotion details end ................................... */


/*.......................................... movie details start ................................... */
/* #movie-details{
    margin: 20px auto 90px;
} */
/*.......................................... movie details end ................................... */