body{
    color: white;
}
:root{
    --pumpkin : #4adec1;
    --nav-bg : #3e5a7a;
    --gold: #FFD700;
    --grey: rgb(63, 63, 63);
    --dark-gray : #1e252b;
    --navy : #19344f;
    --gray-blue : #416285;
    --teal : #39CCCC;
}

/*.......................................... nav bar start ................................... */
#nav{
    background-color: var(--nav-bg);
}
#logo-img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
}
#cinema-label{
    color: var(--gold);
    font-family: fantasy;
}
.nav-link.active{
    color: var(--gold) !important;
}
#nav-order > li > a{
    color: white;
    padding: 8px 25px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}
#nav-order > li > a:hover,
.nav-item a i:hover{
    color: var(--gold);
}
@media screen and (max-width: 768px){
    #nav-icon{
        display: flex;
    }
    #hide-nav{
        display: none;
    }
    .b-nav{
        display: block !important;
    }
    #home-content > div > p{
        display: none;
        background-color: red;
        width: 100% !important;
    }
}
.b-nav{
    background-color: var(--nav-bg);
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 9999;
    padding: 12px 0;
}
.b-navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-navbar-brand > a{
    display: flex;
    margin: auto;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    color: white;
    text-decoration: none;
}
.b-navbar-brand > a:hover{
    color: var(--pumpkin);
}
/*.......................................... nav bar end ................................... */

/*.......................................... home section start ................................... */
#home-poster{
    background-image: url(image/pexels-photo-7991486.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: var(--white);
}
#home-poster-content{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-poster-content > div > h1{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 50pt;
    word-spacing: 2pt;
    width: 70%;
    font-weight: bold;
}
#home-poster-content > div > h1 > span{
    color: var(--gold);
}
#home-poster-content > div > p{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 15pt;
}

#search-ticket{
    margin-top: -70px;
}
#search-ticket > div{
    background-color: var(--gray-blue);
    padding: 30px 30px 35px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#search-ticket label{
    color: var(--teal);
}
#search-ticket p{
    background-color: var(--navy);
    color: white;
    padding: 15px 28px;
    font-size: 13pt;
    border-radius: 50px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.group{
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 80%;
    margin-top: 14px;
}
.input{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    border: 0;
    border-radius: 12px;
    background-color: transparent;
    outline: none;
    color: white;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
    border: 1px solid white;
}
.input::placeholder{
    color: #d4d5e4;
}
.search-icon{
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}
/*.......................................... home section end ................................... */

/*.......................................... now showing movie start ................................... */
#now-showing{
    margin: 80px auto;
}
#now-showing h3{
    color: var(--teal);
}
/*.......................................... now showing movie end ................................... */

/*.......................................... coming soon section start ................................... */
#movies{
    margin: 50px auto 0;
    padding: 30px;
}
#movies h3{
    color: var(--teal);
}
.categories-content a{
    width: 100%;
    padding: 5px 20px;
    cursor: pointer;
}
.categories-content a:hover{
    background-color: var(--gray-blue);
    border-radius: 5px;
}

#coming-soon-category{
    background-color: var(--navy);
}
#coming-soon-category h5,
#coming-soon-category h5 ~ label{
    color: var(--gold);
}

/* .slider-btns{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;
}
.slider-btns button{
    position: static;
    background-color: var(--gold);
    color: white;
    width: 43px;
    height: 43px;
    border-radius: 50px;
    text-align: center;
    font-size: 12pt;
}
.slider-btns button:hover{
    background-color: var(--grey);
    color: white;
} */
/*.......................................... coming soon section end ................................... */

/*.......................................... movies categories section start ................................... */
#films{
    margin: auto;
    padding: 30px;
}
#top-movie,
#adventure,
#action{
    margin-bottom: 60px;
}
/*.......................................... movies categories section end ................................... */

/*.......................................... detail section start ................................... */
.movie-detail .poster{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius:10px;
}
.movie-detail .movie-detail-content{
    padding-left: 30px;
}
.movie-detail .movie-detail-content .movie-name{
    font-size:1.8em;
    margin-top: -10px;
}
.movie-detail .movie-detail-content .category{
    display:flex;
    gap:40px;
    text-transform:capitalize;
    margin:10px 0;
}
.movie-detail .movie-detail-content .movie-info{
    display:flex;
    gap:30px;
    margin:25px 0;
}
.movie-detail .movie-detail-content .movie-info .fa-circle,
.movie-detail .movie-detail-content .movie-info .fa-stopwatch{
    color: var(--gold); 
    font-size:.85em;
}
.category li::marker{
    color: var(--gold);
}
#watch-trailer,
#booking{
    margin-top: -10px;
    background-color: var(--gold);
    padding: 6px 20px;
}
#watch-trailer a,
#booking a{
    text-decoration: none;
    color: #000000;
}

#details-text{
    list-style: none;
    width: 100%;
    padding-left: 0;
    margin-top: -8px;
}
#details-text li{
    position: relative;
    padding: 15px 100px 15px 0;
    display: table-cell;
}
#details-text li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15pt;
    display: inline-block;
    position: relative;
    padding: 0 10px;
}
#details-text li a:hover::after,
#details-text li a.text-active::after {
    position: absolute;
    content: "";
    display: block;
    background-color: var(--gold);
    height: 2px;
    margin-top: 2px;
    width: 100%;
    left: 0;
}
#details-text li a::after{
    position: absolute;
    content: "";
    display: block;
    background-color: var(--gold);
    height: 2px;
    width: 0;
    left: 50%;
    margin-top: 3px;
    transition: 0.25s ease-out;
}
#detail-about{
    margin-top: -10px;
    line-height: 25px;
}
#cast{
    width: 100%;
    display: none;
}
#cast-content{
    text-align: center;
}
#cast-content img{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}
#cast-swiper .swiper-pagination .swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
}
#cast-swiper .swiper-pagination .swiper-pagination-bullet:hover{
    background-color: var(--pumpkin);
}
#cast-swiper .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--gold);
}
/*.......................................... detail section end ................................... */

/*.......................................... booking section start ................................... */
#buy-tickets > div > h3{
    color: var(--gold);
}
#select-date > ul > li,
#ticket-price > ul > li{
    margin-left: -10px;
    list-style-type: none;
    height: auto;
}
#select-time > ul > li{
    list-style-type: none;
    height: auto;
}
#select-date button,
#select-time button{
    width: 100%;
    height: 50px;
    border: 0;
    background-color: var(--dark-gray);
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}
#select-date button:hover,
#select-time button:hover{
    background-color: var(--gold);
    color: white;
    border-color: white;
}
.js-select-active{
    background-color: var(--gold) !important;
    color: white !important;
    border-color: white !important;
}
#ticket-price button{
    width: 100%;
    height: 50px;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
}
.f-price{
    border: 1px solid #17a2b8;
}
.s-price{
    border: 1px solid #FF7F3E;
}
.t-price{
    border: 1px solid red;
}

.movie-container{
    margin: 20px 0;
}
.movie-container select{
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.container{
    perspective: 1000px;
    margin-bottom: 30px;
}
.seat{
    background-color: #383840;
    height: 30px;
    width: 38px;
    margin: 8px;
    font-size: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.f1 .seat,
.f2 .seat{
    border: 1px solid #17a2b8;
}

.s1 .seat,
.s2 .seat{
    border: 1px solid #FF7F3E;
}

.t1 .seat,
.t2 .seat{
    border: 1px solid red;
}

.seat.selected,
#selected{
    background-color: var(--gold);
}
.seat.sold{
    background-color: #ddd8d8;
}
.seat:nth-of-type(2){
    margin-right: 30px;
}
.seat:nth-last-of-type(2){
    margin-left: 30px;
}
.seat:not(.sold):hover{
    cursor: pointer;
    transform: scale(1.2);
}
.showcase .seat:not(.sold):hover{
    cursor: default;
    transform: scale(1);
}
.showcase{
    padding: 5px 10px;
    border-radius: 5px;
    color: #9e9e9e;
    list-style-type: none;
    display: flex;
}
.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.showcase li small{
    margin-left: 2px;
}
.row{
    display: flex;
}
.screen{
    background-color: #f0eded;
    height: 15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 100px 100px 0 0;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.7);
}
#confirm-booking #count,
#confirm-booking #price,
#confirm-booking #final-price{
    color: var(--gold);
}
/*.......................................... booking section end ................................... */

/*.......................................... other movies section start ................................... */
.swiper{
    width: 100%;
    height: 100%;
}
#now-showing-swiper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
#now-showing-swiper .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*.......................................... other movies section end ................................... */




