body{
    background-color: var(--body);
    color: white;
}
:root{
    --body : #436587;
    --nav-bar: #344d69;
    --secondary: #2980B9;
    --gold: #FFD700;
    --teal: #5febcf ;
}

/*.......................................... nav bar start ................................... */
#nav{
    background-color: var(--nav-bar);

}
#logo-img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
}
#cinema-label{
    color: var(--gold);
    font-family: fantasy;
}
.nav-link.active{
    color: var(--gold) !important;
}
#nav-order > li > a{
    color: white;
    padding: 8px 25px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}
#nav-order > li > a:hover,
.nav-item a i:hover{
    color: var(--gold);
}
@media screen and (max-width: 768px){
    #nav-icon{
        display: flex;
    }
    #hide-nav{
        display: none;
    }
    .b-nav{
        display: block !important;
    }
}
.b-nav{
    background-color: var(--nav-bar);
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 9999;
    padding: 12px 0;
}
.b-navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-navbar-brand > a{
    display: flex;
    margin: auto;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    color: white;
    text-decoration: none;
}
.b-navbar-brand > a:hover{
    color: var(--gold);
}
/*.......................................... nav bar end ................................... */

/*.......................................... home section start ................................... */
#home-poster{
    background-image: url(image/pexels-photo-7991486.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: var(--white);
}
#home-poster-content{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home-poster-content > div > h1{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 50pt;
    word-spacing: 2pt;
    width: 70%;
    font-weight: bold;
}
#home-poster-content > div > h1 > span{
    color: var(--gold);
}
#home-poster-content > div > p{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 20px;
    font-size: 15pt;
}

#search-ticket{
    margin-top: -70px;
}
#search-ticket > div{
    background-color:  var(--nav-bar);
    padding: 30px 30px 35px;
    border-radius: 10px;
    box-shadow:rgba(255, 255, 255, 0.747) 1px 3px 2px;
}
#search-ticket label{
    color: var(--teal);
}
#search-ticket p{
    background-color: var(--secondary);
    color: white;
    padding: 15px 28px;
    font-size: 13pt;
    border-radius: 50px;
}

.group{
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    width: 80%;
    margin-top: 14px;
}
.input{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 45px;
    padding-left: 2.5rem;
    border: 0;
    border-radius: 12px;
    background-color: transparent;
    outline: none;
    color: white;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
    border: 1px solid white;
}
.input::placeholder{
    color: #d4d5e4;
}
.search-icon{
    position: absolute;
    left: 1rem;
    fill: #bdbecb;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}

@media screen and (max-width: 576px){
    #home-poster-content > div > h1{
        width: 100%;
        font-size: 30pt;
    }
    #search-ticket{
        margin-top: -20px;
    }
    #search-ticket p{
        display: none !important;
    }
}
/*.......................................... home section end ................................... */

/*.......................................... popular movie start ................................... */
#popular-movie{
    margin: 100px auto;
}
#view-more > button{
    color: var(--teal);
}
#view-more > button:hover{
    color: white;
}
#pop-movie-list > .col-lg-4 > div{
    background-color: var(--nav-bar) ;
    padding: 20px 20px 12px;
    border-radius: 10px;
    /* box-shadow: 0 3px 8px rgba(255, 252, 252, 0.2); */
    border: 1px solid white;
}
#pop-movie-list a{
    color: white;
    text-decoration: none;
}
.zoom-img{
    width: 100%;
    height:auto;
    overflow: hidden;
    border-radius: 10px;
}
.zoom-img img{
    width: 100%;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}
.zoom-img img:hover{
    transform: scale(1.1);
}
#pop-movie-list a h4{
    margin-top: 10px;
    text-align: center;
}
#pop-movie-list a:hover{
    color: var(--teal);
}
#ticket-btn{
    background-color: transparent;
    border: 1px solid var(--secondary);
    color: white;
}
#ticket-btn:hover{
    box-shadow: 1px 1px 2px white;
}
@media screen and (min-width: 576px) and (max-width: 768px){
    #pop-movie-list a h4{
        font-size: 12pt;
    }
}
/*.......................................... popular movie end ................................... */




